.navbar{
    background-color: red;
    border-radius: 20px;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 10px 15px;
}
.navbar ul{
    overflow: auto;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}