.navbar{
    background-color: red;
    border-radius: 20px;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 12px 15px;
}
.navbar ul{
    overflow: auto;
}
.navbar li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.navbar li a:hover{
    color: aqua;
}
.navbar input{
    float: right;
    margin: 12px;
    margin-right: 20px;
    border-radius: 11px;
    width: 220px;
}
.search{
    margin-right: 40px;
    padding: 0px 20px;
}